


#title{
	font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
	color: darkblue;
}

.aboutme{
	font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
	font-size: 18px;
	color: blue;
	font-style: italic;
}

.resume{
	text-align: center;
	position: relative;
	font-style: bold;
	color: black;
}

.fml{
	height: 20em;
	width: 50em;
	background: url("../public/images/FML.png");
}

.atlas{
	height: 20em;
	width: 50em;
	background: url("../public/images/atlas.png");
}